# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Django migrations
**/migrations/**

# Django cache
**/django_cache/**

# Local development environment files
local_settings.py

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.bak
*.swp
*.swo

# Python virtual environments
Pipfile
Pipfile.lock

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/

# pyright
.pyright/

# Celery beat schedule file
celerybeat-schedule

# Pyre type checker
.pyre/
